<% cache("catalog-product-#{product.id}-#{product.version}", expires_in: Catalogillo::Config.cache_expires_in) do %>
  <%= content_tag(Catalogillo::Config.default_product_tile[:tag], class: Catalogillo::Config.default_product_tile[:class], id: "catalog-product-#{product.id}") do %>
    <%= content_tag('div', image_tag(product.first_thumbnail_image), id: "product-image", "data-id" => product.id) %>
    <%= link_to product.pdp_url do %>
      <%= content_tag('div', product.name, id: "catalog-product-name-#{product.id}") %>
      <%= content_tag('small', "$#{product.price}", id: "catalog-product-price-#{product.id}", class: product.on_sale ? "price-on-sale" : "") %>
      <%= content_tag('small', "$#{product.sale_price}", class: 'sale-price-on-sale') if product.on_sale %>
      <div>
        <%= content_tag('small', "#{product.units_on_hand} left!", class: 'low_stock') if product.on_scarce? %>
        <%= content_tag('small', "Out of Stock!", class: 'low_stock') if product.out_of_stock? %>
        <small>&nbsp;</small>
      </div>
    <% end
  end
end %>
